.inline {
  display: flex;

  gap: 20px;

  font-family: Baloo_Thambi_Medium;

  font-size: 18px;

  align-items: center;
}

.customeTable {
  flex-shrink: 0;

  width: 40%;

  max-width: 100%;

  padding-right: calc(var(--mdb-gutter-x) * 0.5);

  padding-left: calc(var(--mdb-gutter-x) * 0.5);

  margin-top: var(--mdb-gutter-y);

  text-align: inherit;
}

.paymentOption {
  width: 40%;

  margin-left: 180px;
}

.Ibutton {
  font-size: 16px;

  color: #fff;

  border-radius: 5px;

  background: linear-gradient(90deg, #00a0d7 0%, #96c92e 100%);

  border: 0px;

  padding: 6px 10px;

  font-family: "Baloo_Thambi_SemiBold";
}

.visaLogo {
  width: 25%;
}
