.submit {
    background-image: radial-gradient(circle at top left, #96C92E -4.65%, #00A0D7 98.14%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    text-align: center;
    box-shadow: none;
    text-transform: none;
    display: flex;
    justify-content: center;
}

.submit span {
    font-family: Baloo_Thambi_Regular;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    text-transform: capitalize;
    color: #FFFFFF;
}